// Vendor
@import '~bootstrap/scss/bootstrap.scss';
@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://use.fontawesome.com/releases/v5.0.10/css/all.css');
@import '~fullcalendar/dist/fullcalendar.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeng/resources/themes/bootstrap/theme.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');


$primary: mat-palette($mat-deep-purple);
$accent:  mat-palette($mat-amber, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);


// Lib imports
@import '../../../libs/scheduler/scheduler-theme';
@import '../../../libs/customer-portal/ui/ui-theme';

// Global Styles
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  // overflow: hidden;
  background: mat-color(mat-palette($mat-gray), lighter);
}
